*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(./img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.contenedor{
    margin: auto;
    width: 900px;
    margin-top: 300px;
    text-align: center;
}

.titulo{
    margin-bottom: 20px;
    color: #ffffff;
}


.opciones{
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Modificado para centrar horizontalmente */
}

.opciones p{
    background: rgb(9, 175, 120);
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
}

p.p1{
    position: absolute;
    top: 400px;
    left: 650px;
    width: 100px;
}
p.p1:hover{
    background: gray;
    cursor: pointer;
}

p.p2{
    position: absolute;
    top: 400px;
    left: 950px;
    width: 100px;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
}

#si{
    background: #515050;    
    position: absolute;
    top: 122px;
    color: #ffffff;
    padding: 50px;
    display: none;
    box-shadow: 3px 2px 10px 0px rgba(7, 209, 98, 0.452);
}

